@page
@using FindJob.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;
@inject IHtmlLocalizer<FindJobResource> L
@model FindJob.Web.Pages.CVs.CV.DetailModalModel
@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js"></script>
    <abp-script src="/Pages/CVs/CV/DetailModal.js" />    
    <script>
        $(function () {
            var converter = new showdown.Converter();
            var text = $("#summernote").val();
            document.getElementById('result').innerHTML = converter.makeHtml(text);
        })
    </script>
}


<form method="post" asp-page="/CVs/CV/DetailModal" enctype="multipart/form-data">
    <abp-card size="ExtraLarge">
        <abp-card-header>
            <abp-row>
                <abp-column size-md="_6">
                    <abp-card-title style="font-weight:bold; text-transform:uppercase; font-size:20px">@L["DetailPost"]</abp-card-title>
                </abp-column>
            </abp-row>
        </abp-card-header>
        <abp-card-body>
            <input asp-for="Id" hidden />
            <abp-select asp-for="ViewModel.IdField" asp-items="Model.ListIdParent" disabled />
            <div class="mb-3">
                <label class="form-label">@L["FileOld"]</label>
                @{ var file = "/Files/" + Model.ViewModel.FileName;}
                <a href="@file">@Model.ViewModel.FileName</a>
            </div>
            @*<div class="mb-3">
                    <label class="form-label">@L["Content"]</label>
                    <textarea asp-for="ViewModel.Content" id="summernote" rows="3"></textarea>
                </div>*@
            <div class="mb-3">
                <label class="form-label">@L["Content"]</label>
                <textarea asp-for="ViewModel.Content" id="summernote" rows="3" hidden></textarea>
                <div id="result">

                </div>
            </div>
        </abp-card-body>
        <abp-card-footer>
            <a href="/Notifies/Notify" class="btn btn-secondary">@L["Back"]</a>
            @if (!Model.ViewModel.Status)
            {
                @*<abp-button id="ApprovalCV"
                            text="@L["ApprovalCV"].Value"
                            button-type="Primary"
                            style="float:right" />*@
                <abp-button id="@Model.Id"
                            text="@L["ApprovalCV"].Value"
                            button-type="Primary"
                            onclick="ChangeStatus(this.id)"
                            style="float:right" />
            }

        </abp-card-footer>
    </abp-card>
</form>
